
#container{
    display: flex;
    width: 300px;
    flex-flow: wrap;
    justify-content: flex-end;
}
.editBloc {
    display: none;
}
.listSize{
    width: 50%;
}
.listAdd{
    width: 300px;
    text-align: right;
    margin-bottom: 20px;

}